.LoginWith {
  float: right;
  margin-top: 5px;
}

.LoginWith__label {
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
}

.LoginWith__link {
  height: 34px;
  width: 34px;
  text-align: center;
  line-height: 34px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
  margin-right: 3px;
  &:hover {
    background-color: $primary-blue;
  }
}
