.PrivateChat__SendMessage {
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px;
  display: flex;
}

.PrivateChat__SendMessage__form {
  width: 100%;
  position: relative;
}

.PrivateChat__SendMessage__message {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 15px;
  min-width: 100%;
  width: calc(100%-64px);
  resize: none;
}

.PrivateChat__SendMessage__send-btn {
  position: absolute;
  right: 25px;
  top: 15px;
  border: none;
  cursor: pointer;
  background-color: #fff;

  i {
    font-size: 21px !important;
  }
}
