.NewsFeedImage {
  width: 100%;
  border-bottom: 1px solid #e6ecf5;
}

.NewsFeedImage__image {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
