@import "AuthorArea/AuthorArea";
@import "ProfileMenu/ProfileMenu";
@import "ControlBlock/ControlBlock";

.ProfileSection {
  font-family: Roboto;
  position: relative;
  padding: 38px 0;
  background-color: #fff;
}
