@import "NewsFeedForm/NewsFeedForm";
@import "InfiniteNewsFeed/InfiniteNewsFeed";

.NewsFeed {
  background-color: $primary-grey;
  min-height: calc(100vh - 70px);
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}
