$primary-dark: #ec524b;
$navitem-color: #f5b461;

$primary-grey: #9ad3bc;
$primary-blue: #0099ff;
$primary-orange: #ec524b;
$primary-purple: #cc2e2e;

$primary-black: #f5b461;

$danger: #dc3545;
$disabled: #9a9fbf;
//widths
$navbar-to-mobile-width: 620px;
$sidenav-disappear-width: 700px;
$newsfeed-card-max-width: 618px;
